<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css"
      rel="stylesheet"
    />
    <link rel="icon" href="./bar-chart.png" type="image/icon type" />
    <style>
      body {
        margin: 0;
        padding: 0;
        background-color: #f3f4f6;
      }
    </style>
    <title>WoT Statistics</title>
  </head>
  <body data-color-mode="dark" data-dark-theme="dark_dimmed">
    <wot-stats></wot-stats>
    <script type="module" src="./stats.js"></script>
  </body>
</html>
